{% extends 'base.html' %}


{% block main %}
<main class="content" id="genesis-content">
  <article class="post-2691 page type-page status-publish entry" aria-label="Homepage" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="entry-content" itemprop="text">
      <div class="ab-block-post-grid-text">
        <header class="entry-header">
          <h1 class="entry-title" itemprop="headline">{{ news_post.title }}</h1>
            <p class="entry-meta">
              <time class="entry-time">{{ news_post.show_at | date:"d E Y h:m"}}</time>
                автор
              <span class="entry-author" itemprop="author">
                <a href="/author-id/{{ news_post.author.id }}" class="entry-author-link" rel="author" itemprop="url">
                  <span class="entry-author-name" itemprop="name">{{ news_post.author.username }}</span>
                </a>
              </span>
            </p>
        </header>
        <div class="ab-block-post-grid-excerpt"><p>{{ news_post.body | safe }}</p>
        </div>
      </div>
    </div>
  </article>

{% if comments %}
{% for comment in comments %}
  <section class="author-box" itemprop="author" itemscope="">
    <h4 class="author-box-title"><span itemprop="name">{{ comment.user.username }}</span></h4>
    <div class="author-box-content" itemprop="description"><p>{{ comment.message }}</p></div>
  </section>
  {% endfor %}
{% endif %}




  {% if not user.is_authorized %}
  <form action="#" method="post" id="commentform" class="comment-form" novalidate="">
    <p class="comment-notes"><span id="email-notes">Добавить комментарий</span></p>
    <p class="comment-form-comment"><label for="comment">Комментарий</label><textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea></p>
    <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Опубликовать"></p>
  </form>
  {% endif %}
</main>
{% endblock %}
