<section class="ab-block-post-grid featuredpost aligncenter button-more-link">
<h2 class="ab-post-grid-section-title">Последняя новость</h2>
    <div class="ab-post-grid-items is-grid columns-1">
        <article id="post-487" class="ab-post-grid-item post-487 post type-post status-publish format-standard has-post-thumbnail category-fashion tag-nordstrom tag-womens-fashion entry">
            <div class="ab-block-post-grid-image">
                <a href="/post-id={{last_news.id}}/" rel="bookmark" aria-hidden="true" tabindex="-1">
                    <img width="750" height="420" src="{{ last_news.prev_image.url }}" class="attachment-large-featured size-large-featured" alt="" loading="lazy" /></a>
            </div>
            <div class="ab-block-post-grid-text">
                <header class="ab-block-post-grid-header">
                    <h3 class="ab-block-post-grid-title">
                        <a href="/post-id={{last_news.id}}/" rel="bookmark">{{ last_news.title }}</a>
                    </h3>

                      <div class="ab-block-post-grid-byline">
                        <time datetime="2013-09-10T14:54:21+00:00" class="ab-block-post-grid-date" itemprop="datePublished">{{ last_news.show_at | date:'d E Y'}}</time>
                    </div>

                </header>
                <div class="ab-block-post-grid-excerpt"><p>{{ last_news.body | safe | truncatechars:100 }}</p>
                    <p><a class="ab-block-post-grid-more-link ab-text-link" href="/post-id={{last_news.id}}/" rel="bookmark">Продолжить чтение</a>
                    </p>
                </div>
            </div>
        </article>
    </div>
</section>
