<section class="ab-block-post-grid featuredpost aligncenter">
<h2 class="ab-post-grid-section-title">Воспитательная работа</h2>
<div class="ab-post-grid-items is-list">
  {% for vosp_new in vosp %}
  <article id="post-586" class="ab-post-grid-item post-586 post type-post status-publish format-standard has-post-thumbnail category-fitness category-lifestyle tag-colorado tag-skiing entry">
    <div class="ab-block-post-grid-image">
      <a href="/index/post-id={{vosp_new.id}}/" rel="bookmark" aria-hidden="true" tabindex="-1">
        <img width="630" height="350" src="{{ vosp_new.prev_image.url }}" class="attachment-medium-featured size-medium-featured" alt="" loading="lazy" />
      </a>
    </div>
    <div class="ab-block-post-grid-text">
      <header class="ab-block-post-grid-header">
        <h3 class="ab-block-post-grid-title">
          <a href="/index/post-id={{vosp_new.id}}/" rel="bookmark">{{ vosp_new.title }}</a>
        </h3>
        <div class="ab-block-post-grid-byline"></div>
      </header>
      <div class="ab-block-post-grid-excerpt">
        <p> {{ vosp_new.body | truncatechars:100 }}</p>
        <p><a class="ab-block-post-grid-more-link ab-text-link" href="/index/post-id={{vosp_new.id}}/" rel="bookmark">Продолжить чтение</a>
        </p>
      </div>
    </div>
  </article>
  {% endfor %}
</div>
</section>
