<div class="widget-area footer-widgets-3 footer-widget-area">
  <section id="search-2" class="widget widget_search">
    <div class="widget-wrap">
      <h3 class="widgettitle widget-title">Search</h3>
        <form class="search-form" method="get" action="https://demo.studiopress.com/magazine/" role="search" itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction">
          <label class="search-form-label screen-reader-text" for="searchform-1">Search the site ...</label>
          <input class="search-form-input" type="search" name="s" id="searchform-1" placeholder="Search the site ..." itemprop="query-input">
          <input class="search-form-submit" type="submit" value="Search">
          <meta content="https://demo.studiopress.com/magazine/?s={s}" itemprop="target">
        </form>
      </div>
  </section>
  <section id="tag_cloud-2" class="widget widget_tag_cloud">
    <div class="widget-wrap">
      <h3 class="widgettitle widget-title">Tags</h3>
      <div class="tagcloud">
        <a href="https://demo.studiopress.com/magazine/tag/alaska/" class="tag-cloud-link tag-link-36 tag-link-position-1" style="font-size: 8pt;" aria-label="Alaska (1 item)">Alaska</a>
        <a href="https://demo.studiopress.com/magazine/tag/colorado/" class="tag-cloud-link tag-link-46 tag-link-position-2" style="font-size: 8pt;" aria-label="Colorado (1 item)">Colorado</a>
        <a href="https://demo.studiopress.com/magazine/tag/comments/" class="tag-cloud-link tag-link-49 tag-link-position-3" style="font-size: 8pt;" aria-label="Comments (1 item)">Comments</a>
        <a href="https://demo.studiopress.com/magazine/tag/georgio-armani/" class="tag-cloud-link tag-link-42 tag-link-position-4" style="font-size: 8pt;" aria-label="Georgio Armani (1 item)">Georgio Armani</a>
        <a href="https://demo.studiopress.com/magazine/tag/hawaii/" class="tag-cloud-link tag-link-34 tag-link-position-5" style="font-size: 8pt;" aria-label="Hawaii (1 item)">Hawaii</a>
        <a href="https://demo.studiopress.com/magazine/tag/images/" class="tag-cloud-link tag-link-50 tag-link-position-6" style="font-size: 8pt;" aria-label="Images (1 item)">Images</a>
        <a href="https://demo.studiopress.com/magazine/tag/jogging/" class="tag-cloud-link tag-link-33 tag-link-position-7" style="font-size: 8pt;" aria-label="Jogging (1 item)">Jogging</a>
        <a href="https://demo.studiopress.com/magazine/tag/mens-fashion/" class="tag-cloud-link tag-link-43 tag-link-position-8" style="font-size: 8pt;" aria-label="Men&#039;s Fashion (1 item)">Men&#039;s Fashion</a>
        <a href="https://demo.studiopress.com/magazine/tag/mountains/" class="tag-cloud-link tag-link-37 tag-link-position-9" style="font-size: 8pt;" aria-label="Mountains (1 item)">Mountains</a>
        <a href="https://demo.studiopress.com/magazine/tag/nordstrom/" class="tag-cloud-link tag-link-40 tag-link-position-10" style="font-size: 8pt;" aria-label="Nordstrom (1 item)">Nordstrom</a>
        <a href="https://demo.studiopress.com/magazine/tag/restaurants/" class="tag-cloud-link tag-link-31 tag-link-position-11" style="font-size: 8pt;" aria-label="Restaurants (1 item)">Restaurants</a>
        <a href="https://demo.studiopress.com/magazine/tag/skiing/" class="tag-cloud-link tag-link-45 tag-link-position-12" style="font-size: 8pt;" aria-label="Skiing (1 item)">Skiing</a>
        <a href="https://demo.studiopress.com/magazine/tag/trail-running/" class="tag-cloud-link tag-link-32 tag-link-position-13" style="font-size: 8pt;" aria-label="Trail Running (1 item)">Trail Running</a>
        <a href="https://demo.studiopress.com/magazine/tag/waterfalls/" class="tag-cloud-link tag-link-35 tag-link-position-14" style="font-size: 8pt;" aria-label="Waterfalls (1 item)">Waterfalls</a>
        <a href="https://demo.studiopress.com/magazine/tag/wine/" class="tag-cloud-link tag-link-29 tag-link-position-15" style="font-size: 8pt;" aria-label="Wine (1 item)">Wine</a>
        <a href="https://demo.studiopress.com/magazine/tag/womens-fashion/" class="tag-cloud-link tag-link-41 tag-link-position-16" style="font-size: 8pt;" aria-label="Women&#039;s Fashion (1 item)">Women&#039;s Fashion</a>
      </div>
    </div>
  </section>
</div>
