<header class="site-header" >
  <div class="wrap">
    <div class="title-area">
      <h1 class="site-title" itemprop="headline">
        <a href="/">PORTAL</a>
      </h1>
    </div>
    <div class="widget-area header-widget-area">
      <section id="text-6" class="widget widget_text">
        <div class="widget-wrap">
          <div class="textwidget">
              <a href="#"><img src="https://demo.studiopress.com/magazine/files/2013/10/728x90.jpg" /></a>
          </div>
		     </div>
      </section>
    </div>
  </div>
</header>
